{% extends 'GladiawarSiteBundle::template.html.twig' %}

{% block title %}{{ 'Project' | trans }}{% endblock %}

{% block content %}
<div class="title">
	<h2>Tilte</h2>
	<span class="byline">subtitle</span>
</div>
<span class="image image-full"><img src="{{ asset('bundles/gladiawarsite/images/pic01.jpg') }}" alt="" /></span>
<p>content 1</p>
<p>content 2</p>
{% endblock %}
