{% extends 'GladiawarSiteBundle::template.html.twig' %}

{% block title %}{{ 'Team' | trans }}{% endblock %}

{% block content %}
<div class="title">
	<h2>Tilte</h2>
	<span class="byline">subtitle</span>
</div>
<p>content 1</p>
<p>content 2</p>
{% endblock %}